beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.1
coincurve==21.0.0
feedparser==6.0.14
feedparser-sgmllib==2.1.0
fire==0.7.1
humanize==4.16.0
idna==3.19
pygeohash==3.5.1
python-dotenv==1.2.3
requests==2.34.2
soupsieve==2.9.2
tabulate==0.10.0
termcolor==3.3.0
text-fancipy==1.4.1
typing_extensions==4.16.0
unicodedata2==17.0.1
urllib3==2.7.0
websocket-client==1.9.2
websockets==17.1
